<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/image/pic4.jpeg" alt="image" height="50">
          <p class="mt-2">We want to help bring talented students and unique startups together.</p>
          <p><strong>Contact Us</strong></p>
          <p><i class="bi bi-telephone"></i><a href=" +91 8210386864"> +91 8210386864</a></p>
          <p><i class="bi bi-envelope"></i> <a href="mdjosimm786@gmail.com"> mdjosimm786@gmail.com</a> </p>
        </div>
       
        <div class="col-md-3">
          <h5>Information</h5>
          <ul class="list-unstyled">
            <li><a href="#"> About Us</a></li>
            <li><a href="#">More Search</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Events</a></li>
          </ul>
        </div>
       
        <div class="col-md-3">
          <h5>Helpful Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Services</a></li>
            <li><a href="#">Supports</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
            
        <div class="col-md-3 subscribe">
          <h5>Subscribe More Info</h5>
          <form>
            <input type="email" placeholder="Enter your Email">
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      
      <div class="row text-center social-icons">
        <div class="col-12">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="https://www.google.com"><i class="bi bi-google"></i></a>
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    
      <div class="row footer-bottom">
        <div class="col-12">
          <p>&copy; 2024 @company. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>