<section class="services-section pb-5">
    <div class="container text-center">
        <h2 class="mb-5 text-decoration-underline"><span class="text-warning">My</span> Services</h2>
        <div class="row p-3">
            <div class="col-md-3 col-sm-6">
                <div class="service-item design">
                    <div class="services">
                        <img src="assets/image/pix4.jpeg "  alt="App Design" >
                    </div>
                    <h5 class="mt-2">App Design</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="assets/image/pix5.jpeg" alt="Website Design">
                    </div>
                    <h5 class="mt-4">Website Design</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="service-pic">
                        <img src="assets/image/pix3.jpeg" alt="HTML and CSS">
                    </div>
                    <h5 class="mt-4">Html Css & Js</h5>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="assets/image/pix2.jpeg" alt="Logo Design">
                    </div>
                    <h5 class="mt-4">Angular</h5>
                </div>
            </div>
        </div>
        <div class="container buttons">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-warning ">Read More</button>
                </div>
            </div>
        </div>
        
    </div>
</section> 
