
<section class="about-section">
  <div class="container">
    <div class="row about">
      <div class="col-md-5">
        <img src="assets/image/pic8.jpg" alt="Profile Picture" height="600" />
      </div>
      <div class="col-sm-7 aboutme">
        <h2 class="text-dark pb-5">About Me</h2>
        <p class="text-dark">
          My name is Md Jasimuddin ansari. I'm a Freelance Full Stack Developer based in
          New York, USA, and I'm very passionate and dedicated to my work. With
          6 years experience as a professional Full Stack Developer, I have
          acquired the skills necessary to build great and premium websites.
        </p>
        <ul class="list-unstyled text-dark mb-4">
          <li><strong>Name :</strong> Md Josim Ansari</li>
          <li><strong>Date of Birth :</strong> January 10, 2002</li>
          <li><strong>Address :</strong> Patna, Bihta(Bikram)</li>
          <li><strong>Zip code:</strong> 801104</li>
          <li><strong>Email :</strong> mj6568003@gmail.com</li>
          <li><strong>Phone :</strong> +91- 8210386864</li>
        </ul>
        <p class="text">73 Project complete</p>
        <a href="#" class="btn btn-light">Download CV</a>
      </div>
    </div>
  </div>
</section>
