<header>
  <nav class="navbar navbar-expand-sm headers">
    <div class="container">
      <a class="navbar" href="#">
        <img src="assets/image/pic 3.png" alt="image" height="60"  />
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto text-white" id="navitem">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/portfolio/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/portfolio/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/portfolio/service">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/portfolio/skill">Skill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" routerLink="/portfolio/contact">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
