
.headers{
    background: #571c56;
}


#navitem .nav-item .nav-link:hover{
 color: #c2c2c2 ;
}

.nav-link{
    color:#fff;
}
#navitem{
    font-style:oblique;
    font-weight: 600;
}


.navbar ul li{
    font-size: 20px;
    padding: 5px;
    font-style: bold ;
}

@media (max-width: 576px){
    .navbarNav ul li a {
        font-size: 20px;
        padding: 5px;
        font-style: bold ;
        white-space: nowrap;
       
    }
}